/* Import your application global css files here or add the styles directly to this file */

#title {
    text-align: center;
    color: black;
}

.header {
    text-align: center;
    background-color: #e7ebee;
}

/*blue : #03a9f4*/

#footer_credits_uni {
    text-align: right;
}

#quality-indicator-progress-bar {
    background-color: #f6a03c;
    height: 10px;
}

#footerHorizontalDiv {
    position: relative;
}

#footer {
    background-color: rgba(231, 235, 238, 0.31);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#footerImageLeftDiv {
}

#footerImageRightDiv {
}

#footerLeftImage {
    /*border: 2px solid red;*/
    width: 100px;
    float: left;
}

#footerRightImage {
    /*border: 2px solid red;*/
    width: 100px;
    float: right;
}


#footerAboutDiv {
    margin: auto;
    width: 50%;
    /*border: 1px solid green;*/
    padding: 30px;
    text-align: center;
    position: fixed;
    left: 25%;
    right: 25%;
}


#footerAboutParagraph {
    float: inside;
    font-weight: normal;
}


#contentMainLayout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#contentFooter {
    /*background-color: rgba(231, 235, 238, 0.31);*/
    /*border: 5px solid green;*/
    text-align: center !important;
    display: flex !important;
    flex: 1 !important;
    align-items: flex-end !important;
    margin-bottom: 10px;
}

#textPrefixTextField {
    font-weight: bold;
}

.bold-paragraph {
    font-weight: bold;
    text-align: center;
}

#graphStatsHeading {
    margin-bottom: -35px;
}

.suggestion-span {
    margin: 2px;
    cursor: pointer;
    pointer-events: auto;
}

.suggestion-span:hover {
    background-color: blue;
}


.span-selected {
    background-color: #2b908f;
    color: #1b62c7;
    font-size: 100px;
}

.suggestion {
    color: #1b62c7;
    font-weight: bold;
}

.suggestion-red {
    color: #c71b1b;
    font-weight: bold;
}


#inspectionDivPsView {
    width: 100%;
    background-color: color(srgb 0.9529 0.9608 0.9687);
    padding: 10px;
    border-radius: 5px;
}